@import './colors.scss';

.key
{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 2em;

    box-sizing: border-box;
    width: 15vh;
    height: 10vh;
    margin: 2px;

    color: white;
    border-radius: 5px;
    background-color: $button-keycap;
}
