@import './colors.scss';

#calculator
{
    width: min(450px, 90%);
    height: 100%;
    margin: 5% auto;
    padding-bottom: 10px;

    border-radius: 5px;
    background-color: $calculator-body;
}

#keypad
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: 100%;
}

#screen
{
    top: 10px;

    margin: auto;
}

#output
{
    margin: 20px auto;
}

#screen,
#output
{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 24px;

    position: relative;
    top: 10px;

    overflow-x: scroll;

    box-sizing: border-box;
    width: 85%;
    height: 50px;
    padding: 10px;

    white-space: nowrap;

    color: white;
    background-color: $dark-grey;
}
