@import './colors.scss';

html
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: $light-body;

    overscroll-behavior-y: none;
}

a
{
    text-decoration: none;
}
